@keyframes speed-lines {
  from {
    transform: translateX(-12%);
  }
  to {
    transform: translateX(12%);
  }
}

@keyframes loading-bar {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(130%);
  }
}
